<h1>Clientes</h1>
<%= link_to "Adicionar Cliente", new_customer_path %>

<% @customers.each do |customer|%>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= customer.name%></td>
                <td><%= customer.phone%></td>
                <td><%= customer.address&.street%></td>
                <td><%= customer.address&.number%></td>
                <td><%= customer.address&.city%></td>
            </tr>
        </tbody>
    </table>
<%end%>